body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}


.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f3f4f6;
}


input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}



.dark {
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
}

.dark .card {
  background-color: #2d2d2d;
  color: white;
}

.dark table {
  color: white;
}

.dark th {
  background-color: #333;
}



.dark .content {
  background-color: #1e1e1e;
  color: white;
}

.dark .sidebar {
  background-color: #111827;
  color: white;
}

.dark input {
  background-color: #2d2d2d;
  color: white;
  border: 1px solid #555;
}

.dark input::placeholder {
  color: #bbb;
}

.dark button {
  background-color: #374151;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.dark button:hover {
  background-color: #4b5563;
}

.dark table {
  background-color: #2d2d2d;
  color: white;
}

.dark td {
  border-color: #555;
}

.dark th {
  background-color: #374151;
  color: white;
}

.dark .tabela th {
  background-color: #374151;
}

.dark .tabela td {
  background-color: #2d2d2d;
}

.dark h1,
.dark h2,
.dark p,
.dark li {
  color: white;
}


.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela th,
.tabela td {
  border: 1px solid #ddd;
  padding: 12px;
}

.tabela th {
  background: #f5f5f5;
}